services:
  db:
    image: postgres:13
    env_file:
      - ./apps/api/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file:
      - ./apps/api/.env
    depends_on:
      - db
    ports:
      - "4000:4000"

volumes:
  db_data:
